/* Color pallete 
black
#280144
#6a1678
#8f85ff
#51a3e0
#78c2ef
#3cd09c
white */

body {
  text-align: center;
  background-image: radial-gradient(
    circle at top,
    black 20%,
    #280144 40%,
    #6a1678 60%,
    #8f85ff 70%,
    #51a3e0 75%,
    #78c2ef 80%,
    #3cd09c 85% 
  );
  font-family: 'Merriweather', serif;
}

h1 {
  color: #3cd09c;
  font-family: 'Luckiest Guy', cursive;
  font-weight: normal;
  font-size: 3rem;
}

p {
  color: white;
}

label {
  color: white;
}

input[type='file'] {
  display: none;
}

.volume-slider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit browsers */
  width: 12px;
  height: 200px;
  margin: auto;
  display: block;
}

.player-label {
  color: white;
  text-align: center;
  display: block;
  margin: 10px 0;
}

.player-container {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 20px 0;
}

.top-container {
  margin-top: 50px;
  padding: 20px;
}

.middle-container {
  padding: 20px 0;
}

.bottom-container {
  padding: 20px 0;
}

.copyright {
  padding: 20px 0;
  margin: 0 auto;
  font-size: 0.75rem;
  width: 50%;
}

.timer {
  float: right;
}

.container {
  display: inline-block;
  width: auto;
}

.file-button {
  color: white;
  width: 180px;
  height: 30px;
  background-image: linear-gradient(
    to right, 
    #8f85ff 50%,
    #51a3e0 65%,
    #78c2ef 75%,
    #3cd09c 85% 
  );
  font-family: 'Merriweather', serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 6px;
  border-radius: 8px;
  margin: 0 auto 30px;
  display: flex;
}

.file-button:hover {
  background-image: linear-gradient(
    to left, 
    #8f85ff 50%,
    #51a3e0 65%,
    #78c2ef 75%,
    #3cd09c 85% 
  );
}

#seek-slider {
  width: 80%;
  margin: 20px auto;
  display: block;
}

#play-all-button {
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 0;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

#play-all-button-image {
  width: 50px;
  height: 50px;
}

#gif {
  width: 50px;
  display: block;
  margin: 10px auto;
}

#dada {
  width: 80px;
}